@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.container{
  width: 400px;
  border: 2px solid RGBA(85, 85, 85, 1) ;
  background-color: RGBA(172, 121, 67, .5);
}

button{
  color: white;
  border: 1px;
  width: 100%;
  text-decoration: none;
  background-color: RGBA(43, 110, 156, .75);
  border: 1px double RGBA(85, 85, 85, .75);
}

.subCategories{
  color:RGBA(93, 69, 43, 1);

}
